absl-py==0.13.0
aiohttp==3.7.4.post0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.6
anaconda-project==0.8.2
antlr4-python3-runtime==4.8
APScheduler==3.7.0
asgiref==3.3.1
asn1crypto==0.24.0
astroid==2.1.0
astropy==3.1
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.2.1
attrs==21.2.0
autosub==0.3.12
Babel==2.6.0
backcall==0.2.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.3
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach==3.0.2
bokeh==1.0.2
boto==2.49.0
Bottleneck==1.2.1
branca==0.4.2
bs4==0.0.1
cachetools==4.2.2
certifi==2021.5.30
cffi==1.11.5
chardet==4.0.0
charset-normalizer==2.0.4
Click==7.0
cloudpickle==0.6.1
clyent==1.2.2
colorama==0.4.1
community==1.0.0b1
comtypes==1.1.7
conda==4.5.12
conda-build==3.17.6
conda-verify==3.1.1
contextlib2==0.5.5
cryptography==2.4.2
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.14
cytoolz==0.9.0.1
dask==1.0.0
datashape==0.5.4
ddddocr==1.1.0
decorator==5.0.9
defusedxml==0.5.0
dill==0.3.4
distributed==1.25.1
Django==3.1.7
dlib==19.22.0
docutils==0.14
einops==0.3.0
emoji==1.4.2
entrypoints==0.2.3
enum34==1.1.10
et-xmlfile==1.0.1
face-recognition==1.3.0
face-recognition-models==0.3.0
fake-useragent==0.1.11
fastcache==1.0.2
filelock==3.0.10
Flask==1.0.2
Flask-Cors==3.0.7
flatbuffers==1.12
folium==0.12.1
fsspec==2021.6.1
ftfy==6.0.3
future==0.18.2
gast==0.3.3
gensim==3.8.3
gevent==1.3.7
glob2==0.6
google-api-core==1.25.0
google-api-python-client==1.12.8
google-auth==1.32.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.52.0
goose-extractor==1.0.25
graphviz==0.14.1
greenlet==0.4.15
grpcio==1.38.1
h5py==2.10.0
hanlp-downloader==0.0.25
heapdict==1.0.0
html5lib==1.0.1
httplib2==0.18.1
idna==2.10
imageio==2.4.1
imageio-ffmpeg==0.4.5
imagesize==1.1.0
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata==0.6
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
itchat==1.3.10
itchat-uos==1.4.1
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.2
jieba==0.42
Jinja2==2.10
joblib==0.16.0
JPype1==0.7.0
Js2Py==0.71
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.3
jupyterlab-server==0.2.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyboard==0.13.5
keyring==17.0.0
kiwisolver==1.0.1
kornia==0.6.2
latex2mathml==2.16.1
lazy-object-proxy==1.3.1
libarchive-c==2.8
libtorch==1.2.0.1
lightgbm==3.1.1
llvmlite==0.26.0
locket==0.2.0
lxml==4.6.3
Markdown==3.3.3
MarkupSafe==1.1.0
matplotlib==2.2.3
mccabe==0.6.1
menuinst==1.4.14
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.2
more-itertools==4.3.0
mpmath==1.1.0
msgpack==0.5.6
multidict==5.1.0
multipledispatch==0.6.0
multiprocess==0.70.12.2
my-io==1.0
navigator-updater==0.2.1
nbconvert==5.4.0
nbformat==4.4.0
netaddr==0.8.0
networkx==2.2
nltk==3.4
nose==1.3.7
notebook==5.7.4
numba==0.41.0
numexpr==2.6.8
numpy==1.21.0
numpydoc==0.8.0
oauthlib==3.1.0
odo==0.5.1
olefile==0.46
omegaconf==2.1.1
onnxruntime==1.9.0
opencv-python==3.4.4.19
openpyxl==2.5.12
opt-einsum==3.3.0
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
partd==0.3.9
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
pdfminer==20191125
pep8==1.7.1
pickleshare==0.7.5
Pillow==8.2.0
pkginfo==1.4.2
pluggy==0.8.0
ply==3.11
prettytable==2.0.0
progressbar==2.5
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.14.0
psutil==5.4.8
py==1.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.10.1
pycurl==7.43.0.2
pyDeprecate==0.3.1
pydotplus==2.0.2
pyecharts==1.9.0
PyExecJS==1.5.1
pyflakes==2.0.0
pygame==2.0.1
Pygments==2.3.1
pyhanlp==0.1.84
pyjsparser==2.7.1
pylint==2.2.2
pymongo==3.11.3
PyMySQL==1.0.2
pyodbc==4.0.25
pyOpenSSL==18.0.0
pyparsing==2.3.0
pypng==0.0.20
PyQRCode==1.2.1
PySocks==1.7.1
pysrt==1.1.2
pyte==0.8.0
pytesseract==0.3.8
pytest==4.0.2
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.2.0
pytest-openfiles==0.3.1
pytest-remotedata==0.3.1
python-dateutil==2.7.5
python-docx==0.8.11
pytils==0.3
pytorch-lightning==1.5.5
pytorch-ranger==0.1.1
pytz==2018.7
PyWavelets==1.0.1
pywin32==223
pywinpty==0.5.5
PyYAML==6.0
pyzmq==17.1.2
QtAwesome==0.5.3
qtconsole==4.4.3
QtPy==1.5.2
regex==2021.11.10
requests==2.26.0
requests-futures==1.0.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rope==0.11.0
rsa==4.7.2
ruamel-yaml==0.15.46
scikit-image==0.14.1
scikit-learn==0.23.2
scipy==1.1.0
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.17.2
singledispatch==3.4.0.3
six==1.16.0
smart-open==4.1.2
snapshot-selenium==0.0.2
snowballstemmer==1.2.1
snownlp==0.12.3
sortedcollections==1.0.1
sortedcontainers==2.1.0
soupsieve==2.2.1
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
spyder==3.3.2
spyder-kernels==0.3.0
SQLAlchemy==1.2.15
sqlparse==0.4.1
statsmodels==0.9.0
stem==1.8.0
sympy==1.3
tables==3.4.4
tblib==1.3.2
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
text-unidecode==1.3
textrank4zh==0.3
the==0.1.5
thefuck==3.31
threadpool==1.3.2
threadpoolctl==2.1.0
tools==0.1.9
toolz==0.9.0
torch==1.9.0+cu111
torch-optimizer==0.3.0
torchaudio==0.9.0
torchmetrics==0.6.1
torchvision==0.10.0+cu111
tornado==6.0.4
torrequest==0.1.0
tqdm==4.62.3
traitlets==4.3.2
tushare==1.2.82
typing-extensions==3.10.0.0
tzlocal==2.1
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.24.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.14.1
widgetsnbextension==3.4.2
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.12.1
xgboost==1.2.0
xlrd==1.2.0
XlsxWriter==1.1.2
xlwings==0.15.1
xlwt==1.3.0
xxx==0.0.1
yarl==1.6.3
zict==0.1.3
